* {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  background-image: url("../public/img/background.jpeg");
  background-size: cover;
  perspective: 1500px;
  overflow: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

div,
span,
article,
section,
header,
footer,
p,
ul,
li,
fieldset,
legend,
label,
a,
nav {
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
a {
  display: inline-block;
}
button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
